html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: #a7a8bd;
}

.square {
  height: 100vh;
}

.drumChart {
  background-color: #f8d86a;
  padding: 2.5rem;
}

button {
  width: 4rem;
  height: 4rem;
  background-color: #74759b;
  color: #fffef8;
  margin: 1px;
  border-radius: 1rem;
  border-width: 1px;
  border-color: wheat;
}

@media screen and (max-width: 565px) {
  .buttonGroup {
    display: grid;
    grid-auto-flow: column dense;
  }

  .drumChart {
    transform: scale(0.5);
  }
}

.buttonGroup div {
  margin: 2px;
}

label {
  font-size: 1.1rem;
  font-weight: bolder;
  margin: 1rem;
}
